
.atas {
    background-color:#0597F2;
    padding-top: 5%;
    padding-bottom: 5%;    
}

.text-atas{
    color: white;
}

.judul h1 {
    margin: 5% 0;
}
.carousel-item {
    height:350px;
}

footer{
    background-color:#0597F2;
    color:white;
    margin-top: 5%;
}

